# LlamaIndex components
llama-index
llama-index-embeddings-openai-like
llama-index-llms-openai-like
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface

# vector store
chromadb

# LLM API
huggingface_hub[cli]
google-genai
openai

# Other dependencies
python-dotenv
streamlit>=1.28.0
confluence-markdown-exporter

vllm